/* Add CSS stuff here*/
.container {
  margin-top: 200px;
}

form {
  display:inline-block;
}

.input-file{
  margin: 0 10px 10px 0;
}

ul li a{
  margin-left: 10px;
  float: right;
}


ul li p{
 display: inline;
 margin-left: 10px;
}