/* Add CSS stuff here*/
.container {
  margin-top: 5em;
}

form {
  float:right; 
  margin-right:1em
}

input[type='file']{
  display:inline;
  width: 13em;
}

.form-left{
  float:left; 
}


ul{
  margin-top: 2em;
}
ul li a{
  margin-left: 2em;
  float: right;
  cursor: pointer;
}


ul li p{
 display: inline;
 margin-left: 2em;
}